* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  }
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #ff0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 40px;
  font-family: roberto, lato;
  font-weight: 300;
}
i {
  font-size: 300%;
}
.logo {
  height: 50px;
  float: left;
}
nav {
  height: 50px;
  background-color: #00f
}
.navi {
  padding: 15px;
  }  
.navlink {
  margin: 40px;
} 