* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  }
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #ff0;
}
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-family: roberto, lato;
  color: #0000ff
}

i {
  font-size: 300%;
}
.logo {
  height: 50px;
  float: left;
}
nav {
  height: 50px;
  background-color: #00f
}
.navi {
  padding: 15px;
  }  
.navlink {
  margin: 40px;
} 
.month {
  padding: 3px 15px;
  width: 100%;
  background: #0000ff;
  text-align: center;
  }

.month {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 28px;
  font-size:12px;
  color: #777;
}

.calwh {
  width: 60%;
  float: right;
  padding: 20px;
 }

.schtxtlg2{
  text-align: center;
  color: #0000ff;
  font-style: bold;
  font-size: 30px;
  margin: 50px;
}
.schtxtsm {
  text-align: center;
  color: #0000ff;
  width: 40%
  }
.schtxtsm2 {
  margin: 55px;
  font-size: 18px;
}