* {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  }
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #ff0;
}
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #0000ff;
}

i {
  font-size: 300%;
}
.logo {
  height: 50px;
  float: left;
}
nav {
  height: 50px;
  background-color: #00f
}
.navi {
  padding: 15px;
  }  
.navlink {
  margin: 40px;
} 
.month {
  padding: 3px 15px;
  width: 100%;
  background: #0000ff;
  text-align: center;
  }

.month {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 23%;
  text-align: center;
  margin-bottom: 28px;
  font-size:55px;
  color: #555;
}

.calwh {
  width: 60%;
  float: right;
  padding-top: 20px;
 }

 .schtxt {
   width: 40%;
   padding: 45px;
   font-family: "Roboto", sans-serif;
 }

.schtxtlg2{
  text-align: center;
  font-style: bold;
  font-size: 30px;
  margin: auto;
}

.schtxtsm2 {
  text-align: center;
  margin: auto;
  font-size: 18px;
}
.video {
  width: 40%;
}
iframe {
  padding: 30px;
}
form {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

input {
  display: inline-block;
  float: right;
}
select {
  display: inline-block;
  float: right;
}
.sub-but {
  display: inline-block;
  float: left;
}
/*----------------pick up here---------------*/

.button {
  border: none;
  color: white;
  width: 13.4%;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.1s;
  cursor: pointer;
  margin-top: 4px;
  }
.button {
  background-color: white; 
  color: black; 
  border: 2px solid #00f;
}

.button:hover {
  background-color: #00f;
  color: white;
}

.button2:hover {
  background-color: #555;
  color: #f00;
}
.subform {
  width: 28%;
  float: left;
}
.exptxt {
  width: 28%;
  float: left;
  font-family: "Roboto", sans-serif;
}
.map {
  width: 30%;
  float: left;
}
.pool {
  float: right;
  width: 40%;
  padding-top: 10px;
}
.imgab {
  float: left;
  width: 19%;
  padding-top: 10px;
  padding-right: 2%;
}
.abouttxt {
  padding-top: 10px;

}

.abtxtlg {
  text-align: center;

  font-weight: bolder;
  font-family: "Roboto", sans-serif;
  font-size: 30px;

}

.abtxtsm {
  text-align: center;
  font-family: "Roboto", sans-serif;
  width: 60%;
  padding: 0px 5% 10px 5%;
}
